apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
spec:
  replicas: 3  # <--- ¡ESTAMOS ESCALANDO A 3 REPLICAS DE GOLPE!
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
      - name: api
        image: netguard-app:v1
        imagePullPolicy: Never  # Importante: Usa la imagen local que construimos
        command: ["gunicorn", "--bind", "0.0.0.0:5000", "app.main:app"]
        ports:
        - containerPort: 5000
        env:
        - name: CELERY_BROKER_URL
          value: "redis://redis:6379/0"
        - name: CELERY_RESULT_BACKEND
          value: "db+postgresql://netguard_admin:password_seguro_123@db/netguard_db"
---
apiVersion: v1
kind: Service
metadata:
  name: api-service
spec:
  type: NodePort  # Expone el puerto fuera del clúster (pero dentro de la VM)
  selector:
    app: api
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
